.navbar {
    background-color: #c6daff;
    overflow: hidden;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}