.Likes{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
}

.Postcard {
    background-color: #30344c;
    padding: 1em;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 80vw;
    margin-top: 2vh;
}

.username img {
    border-radius: 999px;
    width: 2vw;
    padding: 0.5vw;
}

.username {
    color: #C6E1ED;
    font-size: medium;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.body {
    display: flex;
    flex-direction: column;
}

.body .text {
    margin: 0 10px 0 0;
    white-space: pre-line;
    color: #c0c3d7;
    font-weight: 400;
    font-size: x-large;
    line-height: 1.5;
    margin-bottom: 4px;
}

.footer {
    width: 100%;
    color: #9fa4aa;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    margin-top: 10px;
}

.footer div {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 80vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.timeline {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1vh;
}

.ProfilePosts {
    margin-left: 1vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 1vh;
}

.footer .fa-trash-can {
    color: #9fa4aa;
}

.footer .fa-trash-can:hover {
    color: red;
}









