.postBody {
    background-color: #f8f9fa;
    color: #000000;
    min-width: 100%;
    min-height: 30vh;
    box-shadow: #002c48 1px 1px 3px 3px;
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-left: 3vw;
}

.postBody img{
    float: left;
    border-radius: 999px;
    width: 3vw;
}
.postBody h4 {
    float: left;
    color: #000000;
}

.card h1 {
    color: Black;
    margin-left: 2vw;
}

.card h2 {
    color: Black;
    margin-left: 2vw;
}
.card h4{
    color: Black;
    margin-left: 1vw;
    color: #000000;
}

.card .fa-trash-can {
    float: right;
    margin-right: 1vw;
    margin-top: 1vh;
    color: #000000;
}

.card .fa-trash-can:hover {
    color: red;
}

.card .fa-thumbs-up {
    float: right;
    margin-right: 1vw;
    margin-top: 2.5vh;
    color: #000000;
}

.card p {
    float: right;
    margin-top: 3vh;
}

.card-container {
    background-color: #ffffff;
    min-width: 90vw;
    min-height: 20vh;
}
