:root {
  --main-color: #495b8e;
  --accent-color: #646cff;
  --bg-color: #ffffff;
  --text-color: #213547;
  --font-family: "Century Gothic";
  --line-height: 1.5;
  --font-weight: 400;

  overflow-x: hidden;
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--accent-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--main-color);
}

body {
  margin: 0;
  min-width: 100vh;
  min-height: 100vh;
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid #000000;
  justify-self: end;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--main-color);
  color: var(--bg-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: var(--bg-color);
  color: var(--main-color);
  border-color: var(--main-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-color);
    background-color: var(--bg-color);
  }
  a:hover {
    color: var(--main-color);
  }
  button {
    background-color: #f9f9f9;
  }
}
